body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('tumblr_67618d4666192739e6dac6b768570053_5164cf3b_640.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

*{
    margin: 20px;
}
#Profile-pic{
    max-width: 200px;
    border-radius: 100px;
}
#username{
    text-decoration: none;
    font-family: Inter,Helvetica,Arial,system-ui,-apple-system;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

.Socials{
    border: 1px solid black;
    border-radius: 30px;
    width: 50%;
    height: 20%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
#twitch{
    background-color: #9146FF;
}
.fa-twitch{
    color: black;
}

#Merch{
    background-color: #32c3a3 ;
}
#Tipping{
    background-color: #32c3a3 ;
}
#youtube{
    background-color: white;
}
#tiktok{
    background-color: black;
}
#cashapp{
background-color: #08b651;
}
.fa-youtube{
    color:#FF0000 ;
}
.fa-tiktok{
    color: white;
}
.icons{
    font-size: 50px;
    padding: 0;
}